<header>
    <div>
        <a href="/">
            Home
        </a>
    </div>
    <div>
        <nav>
            <ul>
                <li>
                    <a href="/productos">
                        Ver productos
                    </a>
                </li>
                <li>
                    <a href="/">
                        Agregar productos
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>