<h1>Agregar Productos</h1>
<section class="container">
    <div class="row">
        <div class="col-1"></div>
        <form action="/productos" autocomplete="off" class="col-10" method="POST">
            <div class="mb-3">
                <label for="type" class="form-label">Tipo</label>
                <input type="text" class="form-control" placeholder="Ingrese el tipo" name="type" required>
            </div>
            <div class="mb-3">
                <label for="url" class="form-label">Direccion de imagen</label>
                <input type="text" class="form-control" placeholder="Ingrese url de imagen" name="url" required>
            </div>
            <div class="mb-3">
                <label for="enviogratis" class="form-label">Envio gratis</label>
                <input type="text" class="form-control" placeholder="Ingrese 0 por no o 1 por si" name="enviogratis" required>
            </div>
            <div class="mb-3">
                <label for="recomendado" class="form-label">Producto Recomendado</label>
                <input type="text" class="form-control" placeholder="Ingrese 0 por no o 1 por si" name="recomendado" required>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Precio en pesos</label>
                <input type="number" class="form-control" placeholder="Ingrese el precio" name="price" required>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Descripcion</label>
                <input type="text" class="form-control" placeholder="Ingrese la descripcion" name="description" required>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-dark">Enviar</button>
                <button type="reset" class="btn btn-dark">Limpiar</button>
            </div>
        </form>
        <div class="col-1"></div>
    </div>
</section>