extends main.pug

block blockList 
    h1 Listado de productos 
    section(class="container")
    div(class="row")
        div(class="col-1")
        div(class="col-10")
            if productos 
                table(class="table table-dark")
                    thead
                        tr(class="table-dark")
                            th(class="table-dark", scope="col") Producto 
                            th(class="table-dark", scope="col") Precio 
                            th(class="table-dark", scope="col") Imagen 
                    tbody 
                        each producto in productos 
                            tr(class="table-dark")
                                td(class="table-dark")=producto.description 
                                td(class="table-dark") $ #{producto.price} 
                                td(class="table-dark")
                                    img(src=`${producto.url}`)
            else 
                div 
                    p No se encontraron productos
        div(class="col-1")