header
    div
        a(href="/") Home
    div 
        nav 
            ul 
                li 
                    a(href="/productos") Ver productos
                li 
                    a(href="/") Agregar productos 
